{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PIM | Predictive Inventory Management</title>
    <link rel="stylesheet"  href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet"  href="{% static 'css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://fontastic.s3.amazonaws.com/Cez3KECLTfVWYyJGtXZ3XW/icons.css" rel="stylesheet">

</head>
  <a href="{% url 'close_shop' %}">
    <div class="close-shop">
      <span class="close-shop-icon">e</span>
    </div>
  </a>

  <div class="nav-dropdown-container">
    <span class="nav-dropdown-btn">l</span>
    {% block mobileadd %}
    {% endblock %}
  </div>
  <div class="page-header-container">
    <header class="page-header">
      <div class="top-nav-container">
        <div class="user-icon"><a href="{% url 'show_user' request.user.id %}"><span class="user-icon-image">t</span></a></div>
        <span class="user-name">
          <span class="user-welcome">Welcome </span>
          <a href="{% url 'show_user' request.user.id %}">{{request.user.username}}</a>
        </span>
        <div class="secondary-dropdown-contaniner">
          <span class="secondary-dropdown-icon">r</span>
          <div class="secondary-nav-container">
            <ul class="secondary-dropdown-ul">
              <li class="secondary-dropdown-ul">My Profile</li>
              <li class="secondary-dropdown-ul">Close Shop</li>
              <li class="secondary-dropdown-ul">Logout</li>
            </ul>
          </div>
        </div>
        <!-- <a href="/users/logout">Logout</a> -->
      </div>
    </header>
    <div class="page-title">
      {% block pagetitle %}
      {% endblock %}
    </div>
    <div class="page-header-footer">
      <div class="main-nav-container">
        <ul class="main-nav-ul">
          <a href="/low"><li class="main-nav-li low-inventory">Low Inventory</li></a>
          <a href="/products"><li class="main-nav-li all-products">All Products</li></a>
          <a href="/services"><li class="main-nav-li services">Services</li></a>
          <a href="/appointments"><li class="main-nav-li appointments">Appointments</li></a>
          <a href="/products/new_order"><li class="main-nav-li new-order">New Order</li></a>
          <a href="{% url 'close_shop' %}"><li class="main-nav-li settings-links">My Profile</li></a>
          <a href="{% url 'close_shop' %}"><li class="main-nav-li settings-links">Close Shop</li></a>
          <a href="/users/logout"><li class="main-nav-li settings-links">Logout</li></a>

        </ul>
      </div>
      <div class="top-nav-container-hide">
        <div class="user-icon"><span class="user-icon-image">t</span></div>
        <span class="user-name"><span class="user-welcome">Welcome </span><a href="{% url 'show_user' request.user.id %}">{{request.user.username}}</a></span>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="scanner-section">
      {% block scancontent %}
      {% endblock %}
    </div>
    <div class="main-content">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
      {% block content %}
      {% endblock %}

    </div>
    <div class="test-container">
      {% block addbutton %}
      {% endblock %}
    </div>
  </div>

<script src="{% static 'js/main.js' %}"></script>

</html>
