body{
  background:url("http://img2.goodfon.su/original/5616x3744/4/1e/spa-spa-kamni-svechi-cvety-546.jpg");
  background-size: cover;
  width:100%;
  font-family: 'Raleway', sans-serif;


}

body:before {
    content: " ";
    width: 100%;
    height: 865px;
    max-height: 1500px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%);
  }
.header{
  text-align: center;
  font-size: 400%;
  font-weight: 500;
  color:#EEE;
  margin-top: 5%;
}

.box{
  float:left;
	margin:8% 1.5%;
	width:30%;
  text-align: left;
  font-weight: 800;
  font-size: 180%;
  color:#EEE;
  min-width: 250px;
  display:block;
;

}

.sub-box{
  font-size: 60%;
  font-weight: 300;
  line-height: 150%;
}

.signup{
  display: block;
  margin: 0 auto;
  text-align: center;
  color:#EEE;
  font-size: 350%;

  }

button{
  background-color: #EEE;
  border-radius: 5%;
  color: black;
  padding: 1%;
  border: none;
  }

button:hover {
  background-color: #83bc82;
  cursor: pointer;
}

.caps{
  font-size: 150%;
  font-weight: 500;
}

/*.login-link{
  background-color: #68dbd6;
  border-radius: 5%;
  color: black;
  padding: 1%;
  margin-left: 2%;

}*/

.signup2{
  margin:10% 1.5%;
  width:30%;
  text-align: left;
  font-weight: 500;
  font-size: 200%;
}

.register{
  text-align: center;
  font-size: 280%;
  font-weight: 500;
  color:#13442b;
  margin-top: 5%;

  }
  .register2{
  font-weight: 500;
  font-size: 120%;
  color:#EEE;
  display:block;
  }

  .register2 input {
    margin:0 auto;
    display:block;
  }

  .btn-register{
    border-radius: 10%;
    color: black;
    padding: 1%;
    display: block;
    margin:0 auto;
    font-weight: 800;
    font-size: 100%;
    margin-top: 2%;
  }

  .register2 label{
    text-align: left;
    margin-left: 35%;
    font-size: 130%;
  }



  .login1{
    font-size: 150%;
    margin-top: 5%;
    font-weight: 800;
    color:#EEE;
    min-width: 250px;
    display:block;

  }

  .loginbtn{
    border-radius: 5%;
    color: black;
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    display: block;
    margin:0 auto;
  }

.loginbtn:hover {
  background: rgba(0,0,0,0);
	color: #13442b;
  cursor: pointer;
}

.nomatch{
  color: red;
  text-align: center;
}

.logplease{
  text-align: center;
  font-size: 280%;
  font-weight: 500;
  margin-top: 5%;
}

.sub-header{
  font-size: 50%;
}

.headspa{
  font-size: 50%;
  font-weight: 400;
}
.logo{
  height:60px;
}

.pim{
  text-align: center;
  font-size: 180%;
  font-weight: 300;
}

.logo1{
  height:40px;
  display: block;
  margin: 0 auto;
}
