body{
  background:url("https://unsplash.imgix.net/photo-1416339411116-62e1226aacd8?dpr=2&fit=crop&fm=jpg&h=1400&q=75&w=1050");
  background-size: cover;
  width:100%;
}

.header{
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  font-size: 400%;
  margin-top: 7%;
  font-weight: 500;
  color: #23a061;
  text-shadow: 2px 2px #424c3b;
  margin-left: 10%;
}

.nav{
  font-family: 'Cinzel Decorative', cursive;
  margin-top:0;
  margin-right: 2%;
  display: inline-block;
  float: right;
  font-size: 190%;
  font-weight: 400;
  border-radius: 10%;
  border-style:inset;
  padding: 1%;
}

.box{
  font-family: 'Cinzel Decorative', cursive;
  float:left;
	margin:10% 1.5%;
	width:30%;
  text-align: left;
  font-weight: 800;
  font-size: 200%;
}

.sub-box{
  font-family: serif, sans-serif;
  font-size: 60%;
  font-weight: 300;
}

.signup{
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 300%;
  text-shadow: 2px 2px #EEE;
}

button{
  background-color: #23a061;
  border-radius: 10%;
  color: #EEE;
  padding: 1%;
  font-family: 'Cinzel Decorative', cursive;
}

.caps{
  font-size: 250%;
  font-weight: 500;
  text-shadow: 5px #EEE;
}

.login-link{
  text-decoration: none;
}

.signup2{
  font-family: 'Cinzel Decorative', cursive;
  float:left;
  margin:10% 1.5%;
  width:30%;
  text-align: left;
  font-weight: 800;
  font-size: 200%;
}
