/*COLORS
  daker off white - #d4d9df
  lighter off white - #ebecf0
  navy - #444c5a
  darker tan - #d5c1b2
*/

/*DEFAULTS*/

body {
  background-color: #dfdcd6;
  font-family: sans-serif;
  color: #333;
}

.page-header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background-color: #444c5a;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #eee;
}

.main-heading {
  font-size: 32px;
}

.secondary-heading {
  font-size: 24px;
}

/*.page-logo {
  padding: 50px;
  width: 100px;
  position: fixed;
  left: 50px;
  top: 100px;
  transform: translate(0, -50%);
  cursor: pointer;
  background: url('../images/page-logo.png');
  background-repeat: no-repeat;
  background-size: 72%;
}*/

/*TOP-NAV*/

.top-nav-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-25%, -50%);
  width: 200px;
  height: 40px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

.user-name {
  display: inline-block;
  transform: translate(0, -50%);
  margin-left: 10px;
}

/*MAIN NAV*/

.main-nav-container {
  width: 80%;
  color: #333;
  margin: 25px auto 0 auto;
}

.main-nav-ul {
  border-radius: 10px 10px 0 0;
  /*background-color: #b35b5a;*/
}

.main-nav-li {
  display: inline-block;
  padding: 15px 10px;
  margin: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s all ease-out;
  border-radius: 10px 10px 0 0;
}

.main-nav-li:hover {
  transform: scale(1.04);
  transition: 0.2s background-color color ease-in;
  background-color: #b35b5a;
  color: #eee;
}

/*CONTENT*/

.main-content {
  background-color: #eee;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: -5px;
}

.main-header {
  height: 60px;
  width: 100%;
  background-color: #b35b5a;
}
