<body class="add-appointment-body">
{% extends "base.html" %}

{% block pagetitle %}
  <h1 class="main-heading">Create Appointment</h1>
{% endblock %}

{% block content %}
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />

<div class="main-content-header">
  <h2 class="secondary-heading">Create Appointment</h2>
</div>
<div class="form-container">
  <form class="main-form" method="POST" action="{% url 'add_appointment' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="{{ field.label }} input">
        <span class="focus-out">{{ field.label_tag }} </span> {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}
      <!-- Provide a button to click to submit the form. -->
      <button class="form-button" type="submit" name="submit">Create</button>
  </form>
</div>
{% endblock %}
</body>
