{% extends "base.html" %}

{% block content %}
<div class="main-content-header">
    <h2 class="secondary-heading">Adjust Product Quantity</h2>
</div>
  <div class="form-container">
    <form class="main-form" method="POST" action="{% url 'adjust_product' product.id %}">
        {% csrf_token %}
        {% for field in form %}
          <div class="{{ field.label }} input">
           <span class="focus-out">{{ field.label_tag }} </span> {{ field }}
               {{ field.errors }}
          </div>
        {% endfor %}
        <button class="form-button" type="submit" name="submit">Add</button>
    </form>
  </div>
{% endblock %}
