<body class="all-products-body">
{% extends "base.html" %}

{% block pagetitle %}
    <h1 class="main-heading">All Products</h1>
{% endblock %}

{% block mobileadd %}
    <a href="/products/new">
        <span class="add-btn-mobile">q</span>
    </a>
{% endblock %}

{% block scancontent %}
    <script type="text/javascript">
        function OnSubmitForm() {
            if (document.pressed == 'New') {
                document.test_form.action = "{% url 'create_product' %}";
            }
            else if (document.pressed == 'Update') {
                document.test_form.action = "{% url 'new_order' %}";
            }
            else if (document.pressed == 'Detail') {
                document.test_form.action = "{% url 'product_detail' %}";
            }
            return true;
        }
    </script>
    <div class="form-container scan-form">
      <form name='test_form' class="form-control scan-form main-form" id='test_form' method="get" onsubmit="return OnSubmitForm();">
          <span class="focus-out focus-out-scan">Scan Product UPC</span>
          <input name='upc' class="form-control scan-input" type="text"/>

          <div class="scan-btns">
              <button class="gen-btn" onclick="document.pressed=this.value" type="submit" value="New">New</button>

              <button class="gen-btn" onclick="document.pressed=this.value" type="submit" value="Update">Update</button>

              <button class="gen-btn" onclick="document.pressed=this.value" type="submit" value="Detail">Details</button>
          </div>
      </form>
    </div>
{% endblock %}

{% block content %}
    <table class="content-table content-table-links table-mobile">
        <tr class="table-header">
            <th class="status-th">Status</th>
            <th>Title</th>
            <th>Product Size</th>
            <th>Qty</th>
            <th></th>
        </tr>
        {% for product in all_products %}
            <tr>
                <td class="status-td"></td>
                <td>
                    <a href="{% url 'product_detail' %}?upc={{ product.upc_code }}">
                        <div class="table-id-link">
                            {{ product.name }}
                        </div>
                    </a>
                </td>
                <td>{{ product.size }}oz.</td>
                <td>{{ product.display_quantity }}</td>
                <td><a href="{% url 'product_empty' product.id %}">
                    <button class="gen-btn">Out of Stock</button>
                </a></td>
            </tr>
        {% endfor %}
    </table>

    <!-- <div class="modal-container">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="secondary-heading">New Product</h2>
        </div>
      </div>
    </div> -->

{% endblock %}

{% block addbutton %}
    <a href="/products/new">
        <div class="add-content-button">
            <span class="add-button">q</span>
        </div>
    </a>
{% endblock %}
</body>
