<body class="appointments-body">
{% extends "base.html" %}

{% block pagetitle %}
<h1 class="main-heading">All Appointments</h1>
{% endblock %}

{% block mobileadd %}
<a href="/appointments/new">
  <span class="add-btn-mobile">q</span>
</a>
{% endblock %}

{% block content %}
    
    <table class="content-table">
        <tr class="table-header">
            <th>Title</th>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for appointment in all_appointments %}
            <tr>
                <td>{{ appointment.service }}</td>
                <td>{{ appointment.date }}</td>
                <td><a href="{% url 'adjust_usage' appointment.id %}"><button class="gen-btn">Adjust Usage</button></a></td>
                <td><a href="{% url 'update_appointment' appointment.id %}">
                    <button class="update-btn-table">Reschedule</button>
                </a></td>
                <td><a href="{% url 'delete_appointment' appointment.id %}"><button class="delete-btn-table">Cancel</button></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block addbutton %}
<a href="/appointments/new"><div class="add-content-button">
  <span class="add-button">q</span>
</div></a>

{% endblock %}
</body>
