<body class="services-body">
{% extends "base.html" %}

{% block pagetitle %}
<h1 class="main-heading">All Services</h1>
{% endblock %}

{% block mobileadd %}
<a href="/services/new">
  <span class="add-btn-mobile">q</span>
</a>
{% endblock %}

{% block content %}
  <table class="content-table">
    <tr class="table-header">
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
    {% for service in all_services %}
        <tr>

      <td><a href="{% url 'service_detail' service.id %}">
                        <div class="table-id-link">
                            {{ service }}
                        </div>
                    </a></td>
      <td><a href="{% url 'update_service' service.id %}"><button class="update-btn-table">Update</button></a></td>
      <td><a href="{% url 'delete_service' service.id %}"><button class="delete-btn-table">Delete</button></a></td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block addbutton %}
<a href="/services/new"><div class="add-content-button">
  <span class="add-button">q</span>
</div></a>
{% endblock %}
</body>
