{% extends "base.html" %}
{% block content %}

  <table class="content-table">
    <tr class="table-header">
      <th>Status</th>
      <th>Title</th>
      <th>Product Size</th>
      <th>Qty</th>
      <th></th>
    </tr>
    <tr class="padding-row"><td></td><td></td><td></td><td></td><td></td></tr>
    {% for service in all_services %}
      <td></td>
      <td>{{ service }}</td>
      <td><a href="{% url 'delete_service' service.id %}">Delete</a></td>
      <td><a href="{% url 'update_service' service.id %}"><button class="update-btn-table">Update</button></a></td>
    {% endfor %}
  </table>
{% endblock %}

{% block addbutton %}
<div class="add-content-button">
  <span class="add-button">q</span>
</div>
{% endblock %}
