{% extends "base.html" %}
{% load static %}

{% block content %}
    <link href="{% static 'nv.d3.min.css' %}" rel="stylesheet">
    <div class="brand-div">
    <h1>Today's Appointments</h1>

    {% for appt in appts %}
        <p>{{ appt }}</p>
    {% endfor %}
    <p>See all your appointments <a href="{% url 'all_appointments' %}">here</a></p>
    </div>

    <div class="brand-div">
    <h1>Products that will be low soon</h1>
    {% for prod, value in low.items %}
        <p>{{ prod.name }}</p>
    {% endfor %}
    <p>Want to place an order? Go  <a href="{% url 'low_products' %}">here</a></p>
    </div>

     <div id='stock_chart'>
        <svg style='height:500px'></svg>
    </div>
    <script src="{% static 'd3.min.js' %}"></script>
    <script src="{% static 'nv.d3.min.js' %}"></script>
    <script>
        var productdata = {{ data|safe }};
    </script>
    <script src='{% static 'stock_visualization.js' %}' type='text/javascript'></script>
{% endblock %}
