{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PIM | Predictive Inventory Management</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/dash.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://fontastic.s3.amazonaws.com/Cez3KECLTfVWYyJGtXZ3XW/icons.css" rel="stylesheet">
</head>
<body>

{% block content %}
    <link href="{% static 'nv.d3.min.css' %}" rel="stylesheet">
    <div class="main-container">
      <header class="page-header">

      </header>
      <div class="brand-div appointments-container">
      <h2 class="brand-div-header">Today's Appointments<span class="dropdown-icon appointment-drop">v</span></h2>

      <ul class="appointments-ul">
        {% for appt in appts %}
            <li class="appointments-li">{{ appt }}</li>
        {% endfor %}
      </ul>
      <a href="{% url 'all_appointments' %}"><button class="main-button">View All Appointments</button></a>
      <!-- <p>See all your appointments <a href="{% url 'all_appointments' %}">here</a></p> -->
      </div>

      <div class="brand-div products-container">
      <h2 class="brand-div-header">Low Inventory<span class="dropdown-icon product-drop">v</span></h2>
      <ul class="products-ul">
        {% for prod, value in low.items %}
            <li class="products-li">{{ prod.name }}</li>
        {% endfor %}
      </ul>
      <!-- <p>Want to place an order? Go  <a href="{% url 'low_products' %}">here</a></p> -->
      <a href="{% url 'low_products' %}"><button class="main-button">Place an Order</button></a>
      </div>
      <div class="middle-content-container">
        <div class="page-logo"><span class="icon">u</span>
          <h1 class="main-heading">PIM</h1>
          <h2 class="secondary-heading">Predictive Inventory Management</h2>
        </div>
        <div class="icon-nav-container">
          <ul class="icon-nav-ul">
            <li class="icon-nav-li"><span class="nav-icon">o</span></li>
            <li class="icon-nav-li"><span class="nav-icon">h</span></li>
            <li class="icon-nav-li"><span class="nav-icon">i</span></li>
          </ul>
        </div>
      </div>
      <div id='stock_chart'>
         <svg style='height:500px'></svg>
     </div>
    </div>

    <script src="{% static 'd3.min.js' %}"></script>
    <script src="{% static 'nv.d3.min.js' %}"></script>
    <script>
        var productdata = {{ data|safe }};
    </script>
    <script src='{% static 'stock_visualization.js' %}' type='text/javascript'></script>
{% endblock %}
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>
