{% load staticfiles%}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>P.I.M.</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="nav">
    <a href="{% url 'login' %}">
      <button class='login-link'>Login</button>
    </a>
    <a href="{% url 'user_register' %}" class='reg'>
        <button>Register</button>
    </a>
</div>
<header class="header">
    P.I.M.
    <p class="sub-header">Predictive Inventory Management</p>
    <p class="headspa"><img class="logo" src="https://cdn2.iconfinder.com/data/icons/flaticons-stroke/16/leaf-1-512.png">Spa Edition</p>
</header>
<div class='box'>
    Create Appointments
    <div class='sub-box'><span class="caps">C</span>ustomized schedule to guage your salon's product usage and
        sales trends.
    </div>
</div>
<div class='box'>
    Track replenishment needs
    <div class='sub-box'><span class='caps'>R</span>eminders to reorder based on predictive inventory software. UPC scanning ability for quick processing.
    </div>
</div>
<div class='box'>
    Never run out of product
    <div class='sub-box'><span class='caps'>T</span>ake the stress out of services.
        Our intuitive software will track and diagram product usage based on your appointments.
    </div>
</div>
<div class='signup'>Sign up
    <a href="{% url 'user_register' %}">
        <button>Register</button>
    </a>
</div>
</body>
</html>
