{% extends "base.html" %}

{% block pagetitle %}
<h1 class="main-heading">Low Inventory</h1>
{% endblock %}

{% block content %}

  <table class="content-table">
    <tr class="table-header">
      <th>Status</th>
      <th>Title</th>
      <th>Product Size</th>
      <th>Qty</th>
      <th></th>
    </tr>
    <tr class="padding-row"><td></td><td></td><td></td><td></td><td></td></tr>
    {% if low %}
      {% for key, value in low.items %}
      <tr>
        <td>{{ key.name }}</td>
        <td>{{ key.size }}oz.</td>
        <td>{{ value|floatformat:2 }}oz. left in 2 weeks<br/>
        <td></td>
        <td></td>
      {% endfor %}
    {% else %}
      <tr>
        <td><p>No products are currently low</p></td>
      </tr>
    {% endif %}
{% endblock %}
