<body class="new-order-body">
{% extends "base.html" %}

{% block pagetitle %}
    <h1 class="main-heading">New Order</h1>
{% endblock %}

{% block content %}
    <h1 class="secondary-heading">New Order Form</h1>
    <p class="heading-description">Fill out the form to add or update <br/>products from a recent order.</p>
    <div class="form-container">
        <form class="main-form cancel-submit" method="POST" action="{% url 'new_order' %}">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="{{ field.label }} input">
                    <span class="focus-out focus-out-order">{{ field.label_tag }} </span> {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <!-- Provide a button to click to submit the form. -->
            <button class="form-button" type="submit" name="submit">Add</button>
        </form>
    </div>
{% endblock %}



<div class="form-container">
    <form class="main-form" method="POST" action="{% url 'add_appointment' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="{{ field.label }} input">

                <span class="focus-out">{{ field.label_tag }} </span> {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Create"/>
    </form>
</div>
</body>
