{% extends "base.html" %}

{% block content %}
    <form class="confirm-delete" action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete {{ product.name }}?</p>

        <div class="services">
            <p>This product deletion will affect: </p>
            <ul>
                {% for service in affected_services %}
                    <li>{{ service.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="confirm-delete-buttons">
            <input type="submit" value="Confirm"/>
            <input type="submit" name="cancel" value="Cancel"/>
        </div>
    </form>
{% endblock %}