{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
    <link href="{% static 'nv.d3.min.css' %}" rel="stylesheet">
    <h1 class="main-heading">Product Details</h1>
{% endblock %}

{% block content %}
    <div class="main-content-header">
        <h2 class="secondary-heading">{{ object.name }}</h2>
    </div>
    <div class="list-container">
        {% if pic != None %}
            <img class="prod-image" src="{{ pic }}" alt="product image" height="200" width="200">
        {% endif %}
        <ul class="list-container-ul">
            <li class="list-container-li">Name: {{ object.name }}</li>
            <li class="list-container-li">Brand: {{ object.brand }}</li>
            <li class="list-container-li">Quantity: {{ object.display_quantity }}</li>
            <li class="list-container-li">Size: {{ object.size }}</li>
            <li class="list-container-li">UPC: {{ object.upc_code }}</li>
        </ul>

        <a href="{% url 'product_confirm_delete' product.id %}">
            <button class="form-button details-button">Delete</button>
        </a>
    </div>
    <div class="list-container-footer"></div>

    <div id='product_chart'>
        <svg style='height:500px'></svg>
    </div>
    <script src="{% static 'd3.min.js' %}"></script>
    <script src="{% static 'nv.d3.min.js' %}"></script>
    <script>
        var productdata = {{ data|safe }};
    </script>
    <script src='{% static 'product_visualization.js' %}' type='text/javascript'></script>

{% endblock %}
