<body class="update-product-body">
{% extends "base.html" %}

{% block content %}
  <h1 class="secondary-heading">Update Product</h1>
    <div class="form-container">
        <form class="main-form" action="" method="post">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="{{ field.label }} input">

                    <span class="focus-out">{{ field.label_tag }} </span> {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <!-- Provide a button to click to submit the form. -->
            <button class="form-button" type="submit" name="submit">Update</button>
        </form>
    </div>
{% endblock %}
</body>
