<body class="update-service-body">
{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
  <h1 class="main-heading">Update Service</h1>
{% endblock %}

{% block content %}
      <h1 class="secondary-heading">Update {{object.name}}</h1>
        <!-- <button class="display-chart-btn">Amount Reference</button> -->
    <div class="form-container">
        <!-- <div class="service-form"> -->
        <form class="main-form" method="post" action="">
            {% csrf_token %}

            {% for field in form %}
                <div class="{{ field.label }} input">

                    <span class="focus-out">{{ field.label_tag }} </span> {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            {{ amounts.management_form }}
            {% for form in amounts %}
            <div class="table">
                <table class='no_error'>
                  {% for field in form.visible_fields %}
                      <div class="{{ field.label }} input">

                          <span class="focus-out">{{ field.label_tag }} </span> {{ field }}
                          {{ field.errors }}
                      </div>
                  {% endfor %}
                </table>
            </div>
        {% endfor %}
        <button class="form-button" type="submit" name="submit">Submit</button>
        </form>
        <div class="double-btns-container">
          <button type="button" value="Add More" class="add-products-btn" id="add_more">Add Another Product</button>
          <button class="display-chart-btn">Amount Reference</button>
        </div>
    </div>

    <!-- <input type="button" value="Add More" id="add_more"> -->
    <script>
        $('#add_more').click(function () {
            cloneMore('div.table:last', 'amount_set');
        });
    </script>

    <img class="ref-chart" src="{% static "css/size_chart.png" %}"/>
    <script src='{% static 'add_forms.js' %}' type='text/javascript'></script>
{% endblock %}
</body>
