{% extends "base.html" %}

{% block pagetitle %}
    <h1 class="main-heading">Delete {{ object.name }}</h1>
{% endblock %}

{% block content %}
    <div class="main-content-header">
        {#  <h2 class="secondary-heading">Delete {{object.name}}</h2>#}
    </div>
    <form class="confirm-delete" action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete {{ object.name }}?</p>

        <div class="confirm-delete-buttons">
            <input type="submit" value="Confirm"/>
            <input type="submit" name="cancel" value="Cancel"/>
        </div>
    </form>
{% endblock %}
