{% extends "base.html" %}

{% block pagetitle %}
  <h1 class="main-heading">Update {{object.name}}</h1>
{% endblock %}

{% block content %}
<div class="main-content-header">
  <h2 class="secondary-heading">Update {{object.name}}</h2>
</div>
  <div class="form-container">
    <form class="main-form" method="post" action="">
    {% csrf_token %}
    {{ form }}
        {{ amounts.management_form }}
            {% for form in amounts %}
                {{ form }}
            {% endfor %}
    <input type="submit" value="Update"/>
    </form>
  </div>
{% endblock %}
