<body class="user-profile-body">
{% extends "base.html" %}

{% block pagetitle %}
  <h1 class="main-heading">Settings</h1>
{% endblock %}

{% block content %}
    <div class="main-content-header">
        <h2 class="secondary-heading">Settings</h2>
    </div>

    <h1>Brands</h1>
    <div class="settings-container">
    {% for brand in brands %}
        <div class="brand-div">
        <a href="{% url 'update_email' brand.id %}"><button class="gen-btn">Edit</button></a>
        <p class="brand-email">{{ brand }}--{{ brand.email }}</p>
        </div>
    </a>
    {% endfor %}
    <a href="{% url 'create_brand' %}"><button class="gen-btn">Add New Brand</button></a>
    </div>

    <div class="settings-container">
    <p>Low inventory threshold: {{ request.user.profile.threshold }}%</p>
        </br>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
        <div class="brand-div">
        <button type="submit" class="gen-btn">Update Threshold</button>
            </div>
    </form>
    </div>
{% endblock %}
</body>
