{% load staticfiles%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spa-ventory</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
  </head>
  <body>

  {% if form.errors %}
  <p class="nomatch">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
  {#    <p>Please login to see this page.</p>#}
      {% endif %}
  {% endif %}
  <h1 class="logplease">Please log in</h1>
  <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="login1">
  {% csrf_token %}
      <table align="center">
      <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
      </tr>
      <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
      </tr>
      </table>
      <br />
      <input type="submit" value="login" class="loginbtn"/>
      <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <!--{# Assumes you setup the password_reset view in your URLconf #}-->
  <!--{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}-->
</body>
</html>
