{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div>
    <h2 class='register'>Create an Account
    </h2>
    <img class="logo1" src="https://cdn2.iconfinder.com/data/icons/flaticons-stroke/16/leaf-1-512.png">
    <div class="pim">P.I.M.
      <p>Predictive Inventory Management</p>
    </div>
    <form method="POST" action="{% url 'user_register' %}" class='register2'>
        {% csrf_token %}

        {% include "form-fields.html" with frm=form1 %}
        {% include "form-fields.html" with frm=form2 %}

        <!-- Provide a button to click to submit the form. -->
        <input type="hidden" name="next" id="id_next" value="{{ request.REQUEST.next }}" />

    <button type="submit" class="btn-register">Register</button>
    </form>

    </form>

  </div>
</body>
</html>
