{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative' rel='stylesheet' type='text/css'>
</head>
<body>
  <div>
    <h2 class='register'>Register</h2>
    <form method="POST" action="{% url 'user_register' %}" class='register2'>
        {% csrf_token %}

        {% include "form-fields.html" with frm=form1 %}
        {% include "form-fields.html" with frm=form2 %}

        <!-- Provide a button to click to submit the form. -->
        <input type="hidden" name="next" id="id_next" value="{{ request.REQUEST.next }}" />
    </form>
    <button type="submit" class="btn-register">Register</button>
  </div>  
</body>
</html>
